uvicorn
fastapi
pymongo
langchain
langchain_openai
langgraph
langgraph-checkpoint
psycopg 
psycopg-pool  
langgraph-checkpoint-postgres
psycog
pyjwt
numpy==1.26.4
#Wont be needed later
opencage==3.0.2
tavily-python==0.5.0

